.home{
    display: flex;
    .homeContainer{
        flex: 6;
        hr{
            height: 0;
            border: 0.5px solid lightgray;
        }

        .widgets, .charts{
            display: flex;
            justify-content: center;
            margin: 10px;
            gap: 50px;
        }

        .charts{
            margin-top: 20px;
            justify-content: flex-start;
            gap: 30px;
        }

        .table{
            margin: 20px 10px;
            .title{
                color: gray;
            }
        }
    }
}